.main {
  background: #fff;
  padding: 16px;
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: 3fr 7fr;
  gap: 16px;
  box-sizing: border-box;
}
.card {
  background: #fff;
  border-radius: 4px;
}
.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.card-head button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}
.files {
  grid-column: 1/2;
  grid-row: 1/3;
}
